<ba-page-top></ba-page-top>
<div class="row commence-content">
  <div class="sidebar" [class]="checkSidebarCollapse()">
    <div (click)="setSelectedDetail('profile')" [class]="isSelectedDetail('profile')">
      <i class="ion ion-ios-world-outline"></i><span class="menu-label">Profile</span>
    </div>
    <div (click)="setSelectedDetail('email')" [class]="isSelectedDetail('email')">
      <i class="ion ion-ios-world-outline"></i><span class="menu-label">Email</span>
    </div>
    <div (click)="setSelectedDetail('password')" [class]="isSelectedDetail('password')">
      <i class="ion ion-ios-world-outline"></i><span class="menu-label">Password</span>
    </div>
    <div (click)="setSelectedDetail('billing')" [class]="isSelectedDetail('billing')">
      <i class="ion ion-ios-world-outline"></i><span class="menu-label">Billing</span>
    </div>
    <div (click)="setSelectedDetail('invoices')" [class]="isSelectedDetail('invoices')">
      <i class="ion ion-ios-world-outline"></i><span class="menu-label">Invoices</span>
    </div>
    <div class="menu-item" (click)="logout()">
      <i class="ion ion-ios-world-outline"></i><span class="menu-label">Logout</span>
    </div>
  </div>
  <div [class]="checkDetailCollapse()">
    <router-outlet></router-outlet>
  </div>
<ba-back-top position="200"></ba-back-top>
