<div class="container clearfix">
  <div class="detail-header">
    <h2>Email Settings</h2>
  </div>
  <div class="row">
    <div class="col email-data">
      <div class="jumbotron">
        <div class="form-group">
          <label for="emailAddress">Email Address:</label>
          <input #email class="form-control" type="email" name="emailAddress" value={{user?.email}}>
        </div>
        <div class="billing-choice">
          <div class="form-check">
            <label class="form-check-label">
              <input #invoicePref class="form-check-input" type="checkbox" checked={{user?.invoicePref}}>
              Email me when my invoice is available
            </label>
          </div>
          <div class="form-check disabled">
            <label class="form-check-label">
              <input #updatesPref class="form-check-input" type="checkbox" checked={{user?.updatesPref}}>
              Notify me of latest updates and promotions
            </label>
          </div>
          <div class="space-break">
          </div>
          <div class="save-settings">
            <div class="form-group">
              <label for="saveSettings"></label>
              <button class="form-control save-settings" (click)="updateUser(email.value, invoicePref.checked, updatesPref.checked)">Save Settings</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
