@import '../theme/sass/conf/conf.scss';

.container{
  padding: 0em;
}

.detail-header{
  padding: 2.5em 0em 2em .5em;
}

.space-break{
  padding-top: 5em;
}

.jumbotron{
  margin-left: .5em;
  width: 60em;
  padding: 8em;
}

input.save-settings{
  display: block;
  margin: 0 auto;
  width: 20em;
}
