  <div class="row">
    <div class="col detail-header">
      <h2>360 Scenes</h2>
    </div>
    <div class="col right-side-buttons">
      <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
    </div>
  </div>
      <hr>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card detail-body">
      <div class="detail-title">
        <h3>A Gallery Name</h3>
      </div>
      <div class="row">
        <div class="detail-status-icons">
        </div>
        <div class="detail-image">
          <img src="/assets/images/no-image-icon-13.png" alt="no image icon" onError="this.src='/assets/images/no-image-icon-13.png'"/>
        </div>
      </div>
      <div class="dashboard-button-area">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card detail-body">
      <div class="detail-title">
        <h3>A Gallery Name</h3>
      </div>
      <div class="row">
        <div class="detail-status-icons">
        </div>
        <div class="detail-image">
          <img src="/assets/images/no-image-icon-13.png" alt="no image icon" onError="this.src='/assets/images/no-image-icon-13.png'"/>
        </div>
      </div>
      <div class="dashboard-button-area">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card detail-body">
      <div class="detail-title">
        <h3>A Gallery Name</h3>
      </div>
      <div class="row">
        <div class="detail-status-icons">
        </div>
        <div class="detail-image">
          <img src="/assets/images/no-image-icon-13.png" alt="no image icon" onError="this.src='/assets/images/no-image-icon-13.png'"/>
        </div>
      </div>
      <div class="dashboard-button-area">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
