<div class="container">
  <div class="row">
    <div class="col-sm-3 vertical-line-right">
      <div [id]="currentFocus('dashboard')" (click)="activateDetail('dashboard')">
        <a routerLink="360-photos">
          <h4>Dashboard</h4>
        </a>
      </div>
      <div [id]="currentFocus('360-photos')" (click)="activateDetail('360-photos')">
        <a routerLink="360-photos">
          <h4>360 Photos</h4>
        </a>
      </div>
      <div [id]="currentFocus('promo-banner')" (click)="activateDetail('promo-banner')">
        <a routerLink="promo-banner">
          <h4>Promo Banner</h4>
        </a>
      </div>
      <div [id]="currentFocus('menu-links')" (click)="activateDetail('menu-links')">
        <a routerLink="menu-links">
          <i class="ion ion-ios-world-outline"></i>
          <h4>Menu Links</h4>
        </a>
      </div>
      <div [id]="currentFocus('vid-gallery')" (click)="activateDetail('vid-gallery')">
        <a routerLink="vid-gallery">
          <h4>Video Gallery</h4>
        </a>
      </div>
      <div [id]="currentFocus('photo-gallery')" (click)="activateDetail('photo-gallery')">
        <a routerLink="photo-gallery">
          <h4>Photo Gallery</h4>
        </a>
      </div>
      <div [id]="currentFocus('map-directions')" (click)="activateDetail('map-directions')">
        <a routerLink="map-directions">
          <h4>Map & Directions</h4>
        </a>
      </div>
      <div [id]="currentFocus('info-links')" (click)="activateDetail('info-links')">
        <a routerLink="info-links">
          <h4>Info & Links</h4>
        </a>
      </div>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr style="border-top: solid 1px;">
</div>
