<div class="row">
  <div class="col promo-banner">
    <div class="detail-header">
      <h2>Promo/Banner</h2>
    </div>
    <div class="jumbotron">
      <div class="form-group">
        <label for="bannerTitle">Banner Title</label>
        <input #bannerTitle class="form-control" type="text" name="bannerTitle" value="">
      </div>
      <div class="form-group">
        <label for="bannerDescription">Banner Description</label>
        <input #bannerDescription class="form-control" type="text" name="bannerDescription" value="">
      </div>
      <div class="form-group">
        <label for="bannerMedia">Banner Media (video link or image)</label>
        <input #google class="form-control" type="text" name="bannerMedia" value="">
      </div>
      <div class="form-group">
        <label for="bannerUrlLink">Banner URL Link</label>
        <input #bannerUrlLink class="form-control" type="text" name="bannerUrlLink" value="">
      </div>
      <div class="space-break">
        <input class="form-control save-settings-button" type="button" name="saveSettings" value="Save Settings">
      </div>
    </div>
  </div>
</div>
