<div class="header">
  <img class="smaller-logo" src="/assets/images/logo-visiting-media-small.png">
  <a class="support" href="help">SUPPORT</a>
</div>
<div class="container-fluid">
  <div class="center-align">
    <img class="home-image" src="/assets/images/square-light.png" alt="Visiting Media" />
    <h4>Welcome to TrueTour &#8482;</h4>
    <h6>Experience the power of a Single Profile Dashboard</h6>
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="name" value="" placeholder="Email Address"><br>
        <input class="form-control"type="text" name="name" value="" placeholder="Password"><br>
        <button (click)="login()"class="form-control btn btn-danger" type="button" name="button">Log In</button>
        <a href="#">Forgot Password?</a>
        <a href="#">First Time Here?</a>
      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>
</div>
