@import '../theme/sass/conf/conf.scss';

.commence-content{
  padding-top: 6em;
  padding-left: 2em;
  padding-right: 2em;
}

.community{
  padding-left: .5em;
  font-size: .5em;
  vertical-align: middle;
}
.dropdown-menu{
  background-color: $primary;
  color: $legris;
}

.dropdown-text{
  color: $legris;
}

.ion{
  font-size: 2rem;
  color: $legris;
  padding-left: .5em;
  vertical-align: middle;
}
