<div class="container">
  <div class="header">
    <h4>TrueTour Name "Lovely Wedding Venue"</h4>
    <hr style="border-top: solid 1px;">
  </div>
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-secondary" type="button">360 Photos</button>
      <button type="button" class="btn btn-outline-secondary" type="button">Promo Banner</button>
      <button type="button" class="btn btn-outline-secondary" type="button">Menu Links</button>
      <button type="button" class="btn btn-outline-secondary" type="button">Video Gallery</button>
      <button type="button" class="btn btn-outline-secondary" type="button">Photo Gallery</button>
      <button type="button" class="btn btn-outline-secondary" type="button">Map & Directions</button>
      <button type="button" class="btn btn-outline-secondary" type="button">Info & Links</button>
      <button type="button" class="btn btn-outline-secondary" type="button">Analytics</button>

    </div>
    <div class="col-md-9">

    </div>
  </div>
</div>
