@import '../theme/sass/conf/conf.scss';

.right-side-buttons{
  text-align: right;
}

.commence-content{
  padding-top: 6em;
}

.sidebar{
  background-color: $sidebar;
  padding: 2.9em 0 0 1em;
  width: $sidebar-width;
  height: 100vh;
}

.sidebar-collapsed{
  background-color: $sidebar;
  padding: 3.2em 0 0 1em;
  width: 5em;
  overflow: hidden;
  .menu-label, .fa {
    display: none;
  }
}

.collapse{
  padding-left: 3.5em;
  a{
    padding-top: 1em;
  }
}


.menu-item{
  padding: 0.5em 0 0.25em .5em;
  &:hover {
    color: $danger !important;
    background-color: $sidebar-dark;
  }
}

.sub-menu-item{
  padding-top: 1em;
}

.menu-label{
  padding-left: 1em;
  font-size: 1em;
  vertical-align: middle;
  color: $legris;
}

.menu-caret{
  width: 25%;
  padding-left: 0em;
  padding-right: 3em;
  padding-top: 1em;
  text-align: right;
}

.dropdown{
  position: relative;
  margin: 0;
}
.dropdown-menu{
  background-color: $primary;
  color: $legris;
}

.dropdown-text{
  color: $legris;
}

.ion{
  font-size: 2rem;
  color: $legris;
  padding-left: .5em;
  vertical-align: middle;
}
.fa{
  color: $info;
}

.body-commence{
  padding: 1em 0em 0em 0em;
  margin-left: 2em;
}
