<ba-page-top></ba-page-top>
  <div class="row commence-content">
    <div class="sidebar" [class]="checkSidebarCollapse()">
      <ul class="menu-list">
        <li *ngFor="let menuItem of menuList" (click)="select(menuItem.name)" [ngClass]="{active: isActive(menuItem.name)}"> <i class="ion ion-ios-world-outline"></i><span class="menu-label">{{menuItem.name}}</span>
          <ul style="display:none;">
            <li *ngFor="let child of menuItem.subMenu">{{child}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col detail-section" [class]="checkDetailCollapse()">
      <div class="detail-header">
        <h2>Manage TrueTours</h2>
      </div>
      <div class="right-side-buttons">
        <a routerLink="edit-grid-detail"><i class="ion ion-ios-keypad-outline" aria-hidden="true"></i></a>
        <a routerLink="edit-row-detail"><i class="ion ion-ios-list-outline" aria-hidden="true"></i></a>
      </div>
      <hr class="detail-seperator">
      <router-outlet></router-outlet>
    </div>
  </div>
<ba-back-top position="200"></ba-back-top>
