<ba-page-top></ba-page-top>
<!-- <div class="container"> -->

  <div class="row commence-content">
    <div class="sidebar" [class]="checkCollapse()">
      <!-- ngfor directive here for each association -->
      <div class="dropdown">
        <div class="menu-item" data-toggle="collapse" data-target=#collapse1>
          <i class="ion ion-ios-world-outline"></i><span class="menu-label">Community Account</span><i class="fa fa-angle-down fa-2x" ></i>
        </div>
        <div class="collapse" id="collapse1">
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">Dropdown Menu Item</a><br>
          </div>
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">Another Item</a><br>
          </div>
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">A Third Item</a><br>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <div class="menu-item" data-toggle="collapse" data-target=#collapse2>
          <i class="ion ion-ios-world-outline"></i><span class="menu-label">Community Account</span><i class="fa fa-angle-down fa-2x" ></i>
        </div>
        <div class="collapse" id="collapse2">
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">Dropdown Menu Item</a><br>
          </div>
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">Another Item</a><br>
          </div>
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">A Third Item</a><br>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <div class="menu-item" data-toggle="collapse" data-target=#collapse3>
          <i class="ion ion-ios-world-outline"></i><span class="menu-label">Community Account</span><i class="fa fa-angle-down fa-2x" ></i>
        </div>
        <div class="collapse" id="collapse3">
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">Dropdown Menu Item</a><br>
          </div>
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">Another Item</a><br>
          </div>
          <div class="sub-menu-item">
            <a class="sub-menu-item" href="#">A Third Item</a><br>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="header">
        <h2>Manage TrueTours</h2>
      </div>
      <div class="right-side-buttons">
        <a routerLink="edit-grid-detail"><i class="ion ion-ios-keypad-outline" aria-hidden="true"></i></a>
        <a routerLink="edit-row-detail"><i class="ion ion-ios-list-outline" aria-hidden="true"></i></a>
      </div>
      <hr class="detail-seperator">
      <router-outlet></router-outlet>
    </div>
  </div>
<ba-back-top position="200"></ba-back-top>
