<div class="row">
  <div class="col detail-title">
    <h2>Left Hand Menu Items</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1">
            <h5>Enabled</h5>
          </div>
          <div class="col-2">
            <h5>Icon</h5>
          </div>
          <div class="col-4">
            <h5>Title</h5>
          </div>
          <div class="col-3">
            <h5>Url</h5>
          </div>
          <div class="col-2">
            <h5>Open in new tab?</h5>
          </div>
        </div>
      </div>
      <div *ngFor="let menuItem of menuLinks" class="card-block">
        <div class="row">
          <div class="col-1">
            <input class="form-control" type="checkbox" name="name" checked={{menuItem?.enabled}}>
          </div>
          <div class="col-2">
            <i class={{menuItem?.iconStyle}}></i>
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="title" value={{menuItem?.title}}>
          </div>
          <div class="col-3">
            <input class="form-control" type="text" name="url" value={{menuItem?.menuItemURL}}>
          </div>
          <div class="col-2">
            <input class="form-control" type="checkbox" name="name" checked={{menuItem?.newTab}}>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
