<div class="row">
  <div class="col detail-title">
    <h2>Left Hand Menu Items</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1">
            <h5>Enabled</h5>
          </div>
          <div class="col-2">
            <h5>Icon</h5>
          </div>
          <div class="col-4">
            <h5>Title</h5>
          </div>
          <div class="col-3">
            <h5>Url</h5>
          </div>
          <div class="col-2">
            <h5>Open in new tab?</h5>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-1 text-xs-center">
            <input class="form-control" type="checkbox" name="name" value="">
          </div>
          <div class="col-2 text-xs-center">
            <i class="ion ion-ios-world-outline"></i>
          </div>
          <div class="col-4 text-xs-center">
            <input class="form-control" type="text" name="title" value="">
          </div>
          <div class="col-3 text-xs-center">
            <input class="form-control" type="text" name="url" value="">
          </div>
          <div class="col-2 text-xs-center">
            <input class="form-control" type="checkbox" name="name" value="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
