<div class="container clearfix">
  <div class="row commence-content">
    <div class="detail-header">
      <h2>Password</h2>
    </div>
  </div>
  <div class="row">
    <div class="jumbotron">
      <div class="form-group">
        <label for="currentPwd">Current Password</label>
        <input class="form-control" type="password" name="currentPwd" value="">
      </div>
      <div class="form-group">
        <label for="newPwd">New Password</label>
        <input class="form-control" type="password" name="newPwd" value="">
      </div>
      <div class="form-group">
        <label for="confirmPwd">Confirm Password</label>
        <input class="form-control" type="password" name="confirmPwd" value="">
      </div>
      <div class="space-break"></div>
      <div class="form-group">
        <label for="saveSettings"></label>
        <input class="form-control save-settings"type="button" name="name" value="Save Settings">
      </div>
    </div>
  </div>
