<div class="container clearfix">
  <div class="detail-header">
    <h2>Password</h2>
  </div>
  <div class="row">
    <div class="col-12 password-data">
      <div class="jumbotron">
        <div class="form-group">
          <label for="currentPwd">Current Password</label>
          <input #currentPwd class="form-control" type="password" name="currentPwd" value="">
        </div>
        <div class="form-group">
          <label for="newPwd">New Password</label>
          <input #newPwd class="form-control" type="password" name="newPwd" value="">
        </div>
        <div class="form-group">
          <label for="confirmPwd">Confirm Password</label>
          <input #confirmPwd class="form-control" type="password" name="confirmPwd" value="">
        </div>
        <div class="space-break"></div>
        <div class="form-group">
          <label for="saveSettings"></label>
          <button class="form-control save-settings" (click)="changePassword(currentPwd.value, newPwd.value, confirmPwd.value)">Save Settings</button>
        </div>
      </div>
    </div>
  </div>
</div>
