@import '../../theme/sass/conf/conf.scss';

.container{
  padding: 0em;
}

.detail-header{
  padding: 2.5em 0em 2em 0em;
}

.space-break{
  padding-top: 2em;
}

.jumbotron{
  padding: 4em 6em 4em 6em;
  position: relative;
}

input.save-settings{
  display: block;
  margin: 0 auto;
  width: 15em;
}

@media (max-width: 600px) {
  .detail-header {
    padding: 1em 0em 1em 0em;
  }
  .password-data {
    padding-right: 0em;
    margin-right: 0em;
  }
  .jumbotron {
    padding: 1em 1em .5em 1em;
    position: relative;
  }
}
