<div class="page-top clearfix" baScrollPosition maxHeight="50"
(scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a href="https://visitingmedia.com/" class="al-logo clearfix"><img class="smaller-logo" src="/assets/images/logo-visiting-media-small-white.png" alt="visiting media logo"/></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <div class="search">
    <i class="fa fa-search fa-2x" ng-click="startSearch()"></i>
    <input id="searchInput" [(ngModel)]=query (keyup)=filter() type="text" placeholder="  Search for...">
    <div class="suggestions dropdown" *ngIf="filteredList.length > 0">
      <ul class="suggestions-list">
        <li *ngFor="let item of filteredList" class="dropdown-item">
          <a (click)="select(item)">{{item}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="topbar-right-icons right-align">
    <div class="user-profile">
      <a href="https://visitingmedia.com/truetour-support/"><i class="ion ion-help-circled fa-2x"></i></a>
      <a href="/#/editor/edit-row-detail"><i class="ion ion-pizza fa-2x"></i></a>
      <div class="dropdown al-user-profile">
        <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
          <img src="{{userImageUrl}}">
        </a>
        <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
          <li class="dropdown-item"><a href="/#/account/profile" ><i class="fa fa-user"></i>Profile</a></li>
          <li class="dropdown-item"><a href class="signout" (click)="logout()"><i class="fa fa-power-off"></i>Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
