<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/dashboard" class="al-logo clearfix"><img class="smaller-logo" src="/assets/images/logo-visiting-media-small.png" alt="visiting media logo"/></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link fa fa-bars fa-2x"></a>

  <div class="search">
    <i class="fa fa-search fa-2x" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>
  <div class="navbar-right right-align">
    <a href="#"><i class="fa fa-sliders fa-2x"></i></a>
    <a href="#"><i class="fa fa-comments fa-2x"></i></a>
    <a href="#"><i class="fa fa-cog fa-2x"></i></a>
  </div>
  <!-- <a routerLink="dashboard"><i class="fa fa-history" aria-hidden="true"></i>TrueTours</a>
  <a routerLink="billing"><i class="fa fa-usd" aria-hidden="true"></i>Billing</a>
  <a routerLink="account"><i class="fa fa-user" aria-hidden="true"></i>Account</a>
  <a routerLink="help"><i class="fa fa-question-circle" aria-hidden="true"></i>Help</a>
  <a><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a> -->
