@import '../theme/sass/conf/conf.scss';

.container{
  padding: 0em;
}

.detail-header{
  padding: 2.5em 0em 2em .5em
}

.jumbotron{
  margin-left: 1em;
}

.input-section{
  margin-left: 2em;
  width: 25em;
}

.current-account-details{
  padding: 2em 0 2em 0;
  text-align: center;
}

.billing-choice{
  padding: 2em 0 2em 8em;
}

.space-break{
  padding-top: 2em;
}

.upgrade-account{
  padding: 2em 0 3em 0;
  text-align: center;
}

input.upgrade-account-button{
  display: block;
  margin: 0 auto;
  width: 15em;
}

input.save-settings-button{
  display: block;
  margin: 0 auto;
  width: 15em;
}

@media (max-width: 600px) {
  .detail-header {
    padding: 1em 0em 1em 0em;
  }
  .jumbotron {
    padding: 1em 1em .5em 1em;
    position: relative;
  }
}
