@import "../theme/sass/conf/conf";

#login-modal{
  top: 100px;
  outline: none;
}

.modal-header{
  margin-bottom: 20px;
  text-align: center;
}

.auth-sep, .modal-body, .al-share{
  margin: 20px;
  text-align: center;
}

.modal-content{
  width: 374px;
}

.login-inputs{
  margin: 5px 0 5px 0;
  display: inline-block;
  width: 263px;
}

.login-button{
  color: white;
  margin: 15px 0 0 0;
  height: 35px;
}

.help-login{
  margin-top: 10px;
  a{
    font-size: 14px;
    color: black;
  }
}

.auth-sep{
  margin: 20px 0 0 0;
}

.al-share-auth{
  display: inline-block;
  text-align: center;
  li{
    margin: 0 16px 0 16px;
  }
}
