<div class="container clearfix">
  <div class="detail-header">
    <h2>Invoices</h2>
  </div>
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="invoice">Invoice #</th>
            <th class="status">Status</th>
            <th class="date">Date</th>
            <th class="amount">Amount</th>
          </tr>
        </thead>
        <tbody>
          <!-- ngfor directive here -->
          <tr>
            <td>Invoice 12345</td>
            <td>Pending</td>
            <td>March 2016</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>Invoice 12346</td>
            <td>Pending</td>
            <td>March 2016</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>Invoice 12347</td>
            <td>Paid</td>
            <td>March 2016</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>Invoice 12348</td>
            <td>Payment Failed</td>
            <td>March 2016</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>Invoice 12349</td>
            <td>Over Due</td>
            <td>March 2016</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>Invoice 12350</td>
            <td>Over Due</td>
            <td>March 2016</td>
            <td>$100</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
