<div class="container">
  <div class="row edit-detail-section">
    <div class="col detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col col-sm-10">
      <div class="row">
        <div class="col col-sm-8 detail-center-column">
          <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
          <hr>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
        </div>
        <div class="col col-sm-3 detail-right-column">
          <div class="dashboard-button">
            <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
            <i class="ion-android-share-alt" aria-hidden="true"></i>
            <i class="ion-android-open" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row edit-detail-section">
    <div class="col detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col col-sm-10">
      <div class="row">
        <div class="col col-sm-8 detail-center-column">
          <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
          <hr>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
        </div>
        <div class="col col-sm-3 detail-right-column">
          <div class="dashboard-button">
            <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
            <i class="ion-android-share-alt" aria-hidden="true"></i>
            <i class="ion-android-open" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row edit-detail-section">
    <div class="col detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col col-sm-10">
      <div class="row">
        <div class="col col-sm-8 detail-center-column">
          <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
          <hr>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
        </div>
        <div class="col col-sm-3 detail-right-column">
          <div class="dashboard-button">
            <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
            <i class="ion-android-share-alt" aria-hidden="true"></i>
            <i class="ion-android-open" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row edit-detail-section">
    <div class="col detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col col-sm-10">
      <div class="row">
        <div class="col col-sm-8 detail-center-column">
          <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
          <hr>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
        </div>
        <div class="col col-sm-3 detail-right-column">
          <div class="dashboard-button">
            <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
            <i class="ion-android-share-alt" aria-hidden="true"></i>
            <i class="ion-android-open" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row edit-detail-section">
    <div class="col detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col col-sm-10">
      <div class="row">
        <div class="col col-sm-8 detail-center-column">
          <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
          <hr>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
        </div>
        <div class="col col-sm-3 detail-right-column">
          <div class="dashboard-button">
            <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
            <i class="ion-android-share-alt" aria-hidden="true"></i>
            <i class="ion-android-open" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row edit-detail-section">
    <div class="col detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col col-sm-10">
      <div class="row">
        <div class="col col-sm-8 detail-center-column">
          <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
          <hr>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
          <i class="ion ion-ios-world-outline" aria-hidden="true"></i>
        </div>
        <div class="col col-sm-3 detail-right-column">
          <div class="dashboard-button">
            <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
            <i class="ion-android-share-alt" aria-hidden="true"></i>
            <i class="ion-android-open" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
