<div class="row">
  <div class="col-sm-3">
    <img src="assets/images/cross-box.png" alt="" />
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-7">
        <h4>True Tour Name {{tourName}}</h4>
        <hr>
        <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-compass" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
      </div>
      <div class="col-sm-5 dashboard-button-area">
        <div class="dashboard-button">
          <i class="fa fa-cog fa-3x" aria-hidden="true" (click)="goToDashboard()"></i>
          <a href="#"><i class="fa fa-code fa-3x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
