@import '../theme/sass/conf/conf.scss';

.edit-detail-section{
  margin-left: 2em;
}

.end-detail{
  margin-left: 2em;
  margin-right: 2em;
}


.tour-title{
  margin-left: .75em;
}

.detail-left-column{
  background-color: $sidebar;
  color: $info;
  display: inline-block;
  text-align: center;
  img {
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    display: inline-block;
    width: 4.5em;
  }
}

.detail-center-column{
  text-align: center;
  margin-top: 2em;
  i {
    padding-left: 1em;
    font-size: 2em;
  }
  hr {
    margin-left: 1em;
  }
}

.detail-right-column{
  display: inline;
  margin-top: .9em;
  .dashboard-button{
    margin-top: .8em;
    position: relative;
    // transform: translateY(50%);
    text-align: center;
    // padding: 0em, 2em, 0em, 2em;
    color: $danger;
    font-size: 3em;
    i {
      // padding: 0 2em 0 2em;
    }
  }
}
