@import '../theme/sass/conf/conf.scss';

.container{
  padding: 0em;
}

.edit-detail-section{
  height: 10em;
}


.tour-title{
  font-size: 1.3em;
}

.detail-left-column{
  background-color: $sidebar;
  color: $info;
  display: inline-block;
  text-align: center;
  .ion{
    padding-top: .5em;
    font-size: 4.5em;
  }
}

.detail-center-column{
  margin-top: 2em;
  .ion{
    padding-left: 1em;
    font-size: 2em;
  }
}

.detail-right-column{
  margin-top: .9em;
  .dashboard-button{
    text-align: right;
    padding: 0em, 0em, 0em, 1em;
    color: $danger;
    font-size: 3.5em;
  }
}
