<div class="container">
  <div class="row no-gutters edit-detail-section">
    <div class="col-12 col-lg-2 detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col-12 col-lg-6 detail-center-column">
      <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
      <hr>
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <i class="fa fa-compass" aria-hidden="true"></i>
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-lg-4 detail-right-column">
      <div class="row no-gutters dashboard-button">
        <div class="col-4">
          <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-share-alt" aria-hidden="true"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-open" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row no-gutters edit-detail-section">
    <div class="col-12 col-lg-2 detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col-12 col-lg-6 detail-center-column">
      <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
      <hr>
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <i class="fa fa-compass" aria-hidden="true"></i>
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-lg-4 detail-right-column">
      <div class="row no-gutters dashboard-button">
        <div class="col-4">
          <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-share-alt" aria-hidden="true"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-open" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row no-gutters edit-detail-section">
    <div class="col-12 col-lg-2 detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col-12 col-lg-6 detail-center-column">
      <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
      <hr>
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <i class="fa fa-compass" aria-hidden="true"></i>
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-lg-4 detail-right-column">
      <div class="row no-gutters dashboard-button">
        <div class="col-4">
          <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-share-alt" aria-hidden="true"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-open" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row no-gutters edit-detail-section">
    <div class="col-12 col-lg-2 detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col-12 col-lg-6 detail-center-column">
      <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
      <hr>
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <i class="fa fa-compass" aria-hidden="true"></i>
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-lg-4 detail-right-column">
      <div class="row no-gutters dashboard-button">
        <div class="col-4">
          <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-share-alt" aria-hidden="true"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-open" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row no-gutters edit-detail-section">
    <div class="col-12 col-lg-2 detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col-12 col-lg-6 detail-center-column">
      <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
      <hr>
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <i class="fa fa-compass" aria-hidden="true"></i>
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-lg-4 detail-right-column">
      <div class="row no-gutters dashboard-button">
        <div class="col-4">
          <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-share-alt" aria-hidden="true"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-open" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row no-gutters edit-detail-section">
    <div class="col-12 col-lg-2 detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col-12 col-lg-6 detail-center-column">
      <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
      <hr>
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <i class="fa fa-compass" aria-hidden="true"></i>
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-lg-4 detail-right-column">
      <div class="row no-gutters dashboard-button">
        <div class="col-4">
          <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-share-alt" aria-hidden="true"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-open" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row no-gutters edit-detail-section">
    <div class="col-12 col-lg-2 detail-left-column">
      <i class="ion ion-images"></i>
    </div>
    <div class="col-12 col-lg-6 detail-center-column">
      <p class="tour-title">Arbor Vineyard West Winery Foundry Lakes End</p>
      <hr>
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <i class="fa fa-compass" aria-hidden="true"></i>
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>
    <div class="col-12 col-lg-4 detail-right-column">
      <div class="row no-gutters dashboard-button">
        <div class="col-4">
          <i class="ion-gear-a" aria-hidden="true" (click)="goToDashboard()"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-share-alt" aria-hidden="true"></i>
        </div>
        <div class="col-4">
          <i class="ion-android-open" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
