<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>
        My TrueTours
      </h4>
    </div>
    <div class="col-sm-8 right-align">
      <a routerLink="grid"><i class="ion-ios-keypad-outline" aria-hidden="true"></i></a>
      <a routerLink="rows"><i class="fa fa-th-list fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<hr style="border-top: solid 1px;">
<div class="row">
  <div class="col col-sm-2">

  </div>
  <div class="col col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>
<hr style="border-top: dotted 1px;" />
