<div class="container">
  <br>
  <div class="header">
    <h4>
      My TrueTours
    </h4>
  </div>
  <hr>
  <!-- this will be inside an ngfor directive for each object -->
  <div class="">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/images/cross-box.png" alt="" />
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-7">
            <h5>True Tour Name "Lovely Wedding Venue"</h5>
            <hr>
            <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-compass" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-5">
            <a href="#"><i class="fa fa-cog fa-3x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-code fa-3x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
