<div class="container">
  <br>
  <div class="header">
    <div class="row">
      <div class="col-sm-4">
        <h4>
          My TrueTours
        </h4>
      </div>
      <div class="col-sm-8 right-align search">
        <i class="fa fa-th" aria-hidden="true" (click)="gridView()"></i>
        <i class="fa fa-th-list" aria-hidden="true" (click)="listView()"></i>
        <span class="fa fa-search"></span>
        <input type="text" value="" placeholder="Search">
      </div>
    </div>
  </div>
  <hr style="border-top: solid 1px;">
  <!-- this will be inside an ngfor directive for each object -->
  <div *ngIf="viewAsList">
    <app-dash-row-detail></app-dash-row-detail>
  </div>
  <div *ngIf="viewAsGrid">
      <app-dash-grid-detail></app-dash-grid-detail>
  </div>
  <hr style="border-top: dotted 1px;" />
</div>
