@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import '../../theme/sass/conf/conf.scss';

.commence-content {
  padding-top: 6em;
}

.sidebar {
  position: fixed;
  background-color: $sidebar;
  padding: 2.9em 0 0 1em;
  width: $sidebar-width;
  height: 100vh;
  ul{
      list-style: none;
  }
}

.menu-list {
  cursor: pointer;
  padding-left: .2em;
  li {
    &:hover {
      i, .menu-label {
        color: $primary !important;
      }
      background-color: $danger;
    }
    margin: 1em 0 1em 0;
  }
}

.active {
  background: $danger;
  i, .menu-label {
    color: $primary;
  }
  ul {
    background-color: $sidebar;
    list-style: none;
    display: block !important;
    li {
      padding: 1em 0 1em 1em;
      &:hover {
        color: $primary !important;
      }
    }
  }
}

.menu-label{
  transform: translateY(-50%);
  top: 60%;
  position: relative;
  padding-left: 1em;
  display: inline-block;
  font-size: 1.1em;
  color: $info;
}


.detail-header {
  @extend .col;
  padding: 4em 0 0 2em;
}

.detail-top-buttons{
  @extend .col;
  padding: 4em 2.5em 0 2em;
  text-align: right;
}

.ion {
  font-size: 2rem;
  color: $info;
  padding-left: .5em;
}

.activated {
  color: $danger;
}

.detail-section {
  @extend .row;
  margin-left: $sidebar-width;
}

.detail-section-collapsed {
  @extend .row;
  margin-left: 0em;
}

.sidebar-collapsed {
  background-color: $sidebar;
  padding: 3.2em 0 0 1em;
  width: 5.5em;
  overflow: hidden;
  height: 100vh;
  .menu-label, .fa, {
    display: none;
  }
  .active {
    ul {
      li {
        display: none;
      }
    }
  }
}

.detail-seperator {
  width: 95%;
  margin-left: 2em;
}

@media (max-width: 600px) {
  .sidebar {
    padding: 3.2em 0 0 1em;
    width: 6em;
    overflow: hidden;
    .menu-label, .fa {
      display: none;
    }
  }
  .detail-section {
    margin-left: 6em;
  }

  .header{
    padding-left: 0;
    h2{
      font-size: 1.25em;
      float: none;
    }
  }
  .right-side-buttons{
    padding-left: 0em;
    float: none;
    i{
      font-size: 1.5em;
    }
  }

  .detail-seperator{
    width: 95%;
    margin-left: 0em;
  }
}
