<ba-page-top></ba-page-top>
  <div class="commence-content">
    <div class="sidebar" [class]="checkSidebarCollapse()">
      <ul class="menu-list">
        <li *ngFor="let menuItem of menuList" (click)="select(menuItem.name)" [ngClass]="{active: isActive(menuItem.name)}"> <i class="ion ion-ios-world-outline"></i><span class="menu-label">{{menuItem.name}}</span>
          <ul style="display:none;">
            <li *ngFor="let child of menuItem.subMenu">{{child}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div [class]="checkDetailCollapse()">
      <div class="detail-header">
        <h2>Manage TrueTours</h2>
      </div>
      <div class="detail-top-buttons">
        <i (click)="setViewToGrid()" class="ion ion-ios-keypad-outline" [ngClass]="{'activated': !viewAsList}" aria-hidden="true"></i>
        <i (click)="setViewToRow()" class="ion ion-ios-list-outline"[ngClass]="{'activated': viewAsList}" aria-hidden="true"></i>
      </div>
      <hr class="detail-seperator">
      <div class="row no-gutters">
        <div  *ngFor="let tour of trueTours" class="edit-detail-section">
          <div>
            <img src={{tour.featuredImage}} alt="no image icon" onError="this.src='/assets/images/no-image-icon-13.png'"/>
          </div>
          <!-- <div [ngClass]="{$viewAsList 'title-row' : 'title-grid'}">
            <a (click)="setTourKey(tour.$key)" href="#/pages/dashboard"><h3>{{tour.tourName}}</h3></a>
          </div>
          <div ngClass="{$viewAsList 'actions-row' : 'actions-grid'}">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <i class="fa fa-compass" aria-hidden="true"></i>
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
          </div>
          <div ngClass="{$viewAsList 'dash-buttons-row' : 'dash-buttons-grid'}">
            <div class="dashboard-button">
              <a href="#/pages/dashboard"><i class="ion-gear-a" aria-hidden="true" (click)="setTourKey(tour.$key)"></i></a>
              <i class="ion-android-share-alt" aria-hidden="true"></i>
              <i class="ion-android-open" aria-hidden="true"></i>
            </div>
          </div>
          <hr class="end-detail"> -->
        </div>
      </div>
    </div>
  </div>
<ba-back-top position="200"></ba-back-top>
