<div class="row">
  <div class="col col-3 card detail-body">
    <div class="detail-title">
      <h5>True Tour Name {{tourName}}</h5>
    </div>
    <div class="row">
      <div class="detail-status-icons">
        <i class="fa fa-credit-card" aria-hidden="true"></i><br>
        <i class="fa fa-cutlery" aria-hidden="true"></i><br>
        <i class="fa fa-compass" aria-hidden="true"></i><br>
        <i class="fa fa-bullhorn" aria-hidden="true"></i>
      </div>
      <div class="detail-image">
        <i class="ion ion-images"></i>
      </div>
    </div>
    <div class="dashboard-button-area">
      <i class="ion-ios-gear-outline" aria-hidden="true" (click)="goToDashboard()"></i>
      <i class="ion-code" aria-hidden="true"></i>
      <i class="ion-ios-play-outline" aria-hidden="true"></i>
    </div>
  </div>
  <div class="col col-3 card detail-body">
    <div class="detail-title">
      <h5>True Tour Name {{tourName}}</h5>
    </div>
    <div class="row">
      <div class="detail-status-icons">
        <i class="fa fa-credit-card" aria-hidden="true"></i><br>
        <i class="fa fa-cutlery" aria-hidden="true"></i><br>
        <i class="fa fa-compass" aria-hidden="true"></i><br>
        <i class="fa fa-bullhorn" aria-hidden="true"></i>
      </div>
      <div class="detail-image">
        <i class="ion ion-images"></i>
      </div>
    </div>
    <div class="dashboard-button-area">
      <i class="ion-ios-gear-outline" aria-hidden="true" (click)="goToDashboard()"></i>
      <i class="ion-code" aria-hidden="true"></i>
      <i class="ion-ios-play-outline" aria-hidden="true"></i>
    </div>
  </div>
  <div class="col col-3 card detail-body">
    <div class="detail-title">
      <h5>True Tour Name {{tourName}}</h5>
    </div>
    <div class="row">
      <div class="detail-status-icons">
        <i class="fa fa-credit-card" aria-hidden="true"></i><br>
        <i class="fa fa-cutlery" aria-hidden="true"></i><br>
        <i class="fa fa-compass" aria-hidden="true"></i><br>
        <i class="fa fa-bullhorn" aria-hidden="true"></i>
      </div>
      <div class="detail-image">
        <i class="ion ion-images"></i>
      </div>
    </div>
    <div class="dashboard-button-area">
      <i class="ion-ios-gear-outline" aria-hidden="true" (click)="goToDashboard()"></i>
      <i class="ion-code" aria-hidden="true"></i>
      <i class="ion-ios-play-outline" aria-hidden="true"></i>
    </div>
  </div>
  <div class="col col-3 card detail-body">
    <div class="detail-title">
      <h5>True Tour Name {{tourName}}</h5>
    </div>
    <div class="row">
      <div class="detail-status-icons">
        <i class="fa fa-credit-card" aria-hidden="true"></i><br>
        <i class="fa fa-cutlery" aria-hidden="true"></i><br>
        <i class="fa fa-compass" aria-hidden="true"></i><br>
        <i class="fa fa-bullhorn" aria-hidden="true"></i>
      </div>
      <div class="detail-image">
        <i class="ion ion-images"></i>
      </div>
      <div class="detail-right-center">
        <i class="ion ion-images"></i>
      </div>
    </div>
    <div class="dashboard-button-area">
      <i class="ion-ios-gear-outline" aria-hidden="true" (click)="goToDashboard()"></i>
      <i class="ion-code" aria-hidden="true"></i>
      <i class="ion-ios-play-outline" aria-hidden="true"></i>
    </div>
  </div>
  <div class="col col-3 card detail-body">
    <div class="detail-title">
      <h5>True Tour Name {{tourName}}</h5>
    </div>
    <div class="row">
      <div class="detail-status-icons">
        <i class="fa fa-credit-card" aria-hidden="true"></i><br>
        <i class="fa fa-cutlery" aria-hidden="true"></i><br>
        <i class="fa fa-compass" aria-hidden="true"></i><br>
        <i class="fa fa-bullhorn" aria-hidden="true"></i>
      </div>
      <div class="detail-image">
        <i class="ion ion-images"></i>
      </div>
    </div>
    <div class="dashboard-button-area">
      <i class="ion-ios-gear-outline" aria-hidden="true" (click)="goToDashboard()"></i>
      <i class="ion-code" aria-hidden="true"></i>
      <i class="ion-ios-play-outline" aria-hidden="true"></i>
    </div>
  </div>
</div>
