@import '../theme/sass/conf/conf.scss';


.detail-body{
  text-align: center;
  margin-bottom: 1em;
}

.detail-title{
  color: $info;
}

.detail-image{
  margin: 0 auto;
  height: 2em;
  width: 2em;
  background-color: $sidebar;
  color: $info;
  font-size: 4.5em;
  .ion{
    padding-top: .5em;
  }
}

.detail-status-icons{
  .fa{
    color: $info;
  }
}

.dashboard-button-area{
  font-size: 3.5em;
  color: $danger;
}
