<div class="">
  <h4>Account</h4>
</div>
<hr style="border-top: solid 1px;">
<div class="row">
  <div class="col-md-5">
    <input type="text" name="firstName" value="" placeholder="First">
    <input type="text" name="lastName" value="" placeholder="Last"><br><br>
    <input type="text" name="streetAddress1" value="" placeholder="Street Address 1" size="35"><br><br>
    <input type="text" name="streetAddress2" value="" placeholder="Street Address 2" size="35"><br><br>
    <input type="text" name="City" value="" placeholder="City">
    <input type="text" name="State" value="" placeholder="State"><br><br>
    <input type="text" name="zipCode" value="" placeholder="Postal/Zip Code">
    <select class="" name="">
      <option value="united-states">United States</option>
      <option value="somewhere-else">Somewhere Else</option>
    </select><br><br>
    <div class="row">
      <div class="col-sm-4 boxed left-pad center-align">
        <h4>Save</h4>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <img class="acct-img" src={{imgSrc}} alt="a pic" />
    <div class="row">
      <div class="boxed col-sm-3 top-pad center-align">
        <h4>Choose File</h4>
      </div>
      <div class="col-sm-3 top-pad">
        <h4>No File Chosen</h4>
      </div>
    </div>
  </div>
</div>
<hr style="border-top: solid 1px;">
