@import '../theme/sass/conf/conf.scss';

.right-side-buttons{
  text-align: right;
}

.commence-content{
  padding-top: 6em;
}

.sidebar{
  position: fixed;
  background-color: $sidebar;
  padding: 3.2em 0 0 1em;
  width: $sidebar-width;
  height: 100vh;
}

.sidebar-collapsed{
  position: fixed;
  height: 100vh;
  background-color: $sidebar;
  padding: 3.2em 0 0 1em;
  width: 6em;
  overflow: hidden;
  .menu-label, .fa {
    display: none;
  }
}

.collapse {
  padding-left: 3.5em;
  a{
    padding-top: 1em;
  }
}

.menu-label {
  padding-left: 1em;
  font-size: 1em;
  vertical-align: middle;
  color: $legris;
}

.menu-item {
  padding: 0.5em 0 0.5em .5em;
  &:hover {
    i, .menu-label {
      color: $primary !important;
    }
    background-color: $danger;
  }
}

.selected-menu-item {
  padding: 0.5em 0 0.5em .5em;
  background-color: $danger;
  .menu-label, .ion {
    color: $primary;
  }
  &:hover {
    i, .menu-label {
      color: $primary !important;
    }
    background-color: $danger-dark;
  }
}


.menu-caret{
  width: 25%;
  padding-left: 0em;
  padding-right: 3em;
  padding-top: 1em;
  text-align: right;
}

.dropdown{
  position: relative;
}
.dropdown-menu{
  background-color: $primary;
  color: $legris;
}

.dropdown-text{
  color: $legris;
}

.ion{
  font-size: 2rem;
  color: $legris;
  padding-left: .5em;
  vertical-align: middle;
}
.fa{
  color: $info;
}

.body-commence{
  margin: 1em 0em 0em $sidebar-width;
}

.body-commence-collapsed {
  margin: 1em 0em 0em 6em;
}

@media (max-width: $resXS) {
  .sidebar {
    padding: 3.2em 0 0 1em;
    width: 6em;
    overflow: hidden;
    .menu-label, .fa {
      display: none;
    }
  }
  .body-commence {
    margin: 0 0 0 3.5em;
  }
}
